
<div class = "container">
<br>
   <div class="row">
     <% if (current_user) && (current_user.has_role? :charity) && (current_user.id == @job.user_id)%>
    <% @jobs.each do |job| %>
    <% if (current_user.has_role? :charity) && (current_user.id == @job.user_id)%>
      <div class="col-sm-6 col-md-3">

        <div class="thumbnail">
          <h2> <%= job.title %> </h2>
          <%= link_to (image_tag job.image.url, class: 'image'), job %>
          <br>
          <p> <strong> Charity: </strong> <%= job.charity%> </p>
          <p> <strong> Location: </strong> <%= job.location%> </p>
          <p> <strong> Date: </strong> <%= job.date%> </p>

        </div>
      </div>
    <% end %>
    <% end %>s
   </div>
  </div>