


 <div id="form-options">
 
 <% if current_user && (current_user.has_role? :admin) %>
 <%= form_for @user, html: { multipart: true } do |f| %>

<div class="field">
    <%= f.text_field :charity_name, :placeholder => 'Charity Name' %>
  </div>
  <div class="field">
    <%= f.text_field :first_name, :placeholder => 'Applicants First Name'  %>
  </div>
  <div class="field">
    <%= f.text_field :last_name, :placeholder => 'Applicants Last Name'  %>
    </div>
  <div class="field">                    
    <%= f.text_field :email, :placeholder => 'Email'  %>
  </div>
  <div class="field">
    <%= f.text_field :location, :placeholder => 'Location'  %>
  </div>
  <div class="field">
    <%= f.text_field :phone, :placeholder => 'Phone number'  %>
  </div>
  <div class="field">
    <%= f.text_field :tax_number, :placeholder => 'Charitys registered tax number'  %>
  </div>
  <div class="field">
    <%= f.text_field :about, :placeholder => 'About Charity'  %>
  </div>
  <div class="field">
    <%= f.password_field :password, :placeholder => 'Password'  %>
  </div>
  <div class="field">
    <%= f.password_field :password, :placeholder => 'Password Confirmation'  %>
  </div>
  <div class="field">
  <center>
    <%= f.file_field :avatar, :placeholder => 'Charity Logo' %>
    </center>
  </div>

<!--   blank fields in the database which are not require for the volunteer user -->



  <div class="actions">
 <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
<%end%>


 <% if !(current_user) %>
  <%= form_for @user, html: { multipart: true } do |f| %>
<!-- for a volunteer registration, anyone can do this -->
    <div class="field">
      <%= f.text_field :first_name, :placeholder => 'First Name'  %>
    </div>
    <div class="field">
      <%= f.text_field :last_name, :placeholder => 'Last Name'  %>
    </div>
    <div class="field">                    
      <%= f.text_field :email, :placeholder => 'Email'  %>
    </div>
    <div class="field">
      <%= f.text_field :occupation, :placeholder => 'Occupation'  %>
    </div>
    <div class="field">
      <%= f.text_field :location, :placeholder => 'Location'  %>
    </div>
    <div class="field">
      <%= f.text_field :about, :placeholder => 'About'  %>
    </div>
    <div class="field">
      <%= f.text_field :skills, :placeholder => 'Skills (separated by commas)'  %>
    </div> 
    <div class="field">
      <%= f.password_field :password, :placeholder => 'Password'  %>
    </div>
    <div class="field">
      <%= f.password_field :password, :placeholder => 'Password Confirmation'  %>
    </div>
    <div class="field">
    <center>
      <%= f.file_field :avatar %>
      </center>
    </div>

    <!--   blank fields in the database which are not require for the volunteer user -->



    <div class="actions">
   <%= f.submit class: 'btn btn-primary' %>
    </div>
 <% end %>


<% if current_user %>
  <%= form_for @user, html: { multipart: true } do |f| %>
<!-- for a volunteer registration, anyone can do this -->
    <div class="field">
      <%= f.text_field :first_name, :placeholder => 'First Name'  %>
    </div>
    <div class="field">
      <%= f.text_field :last_name, :placeholder => 'Last Name'  %>
    </div>
    <div class="field">                    
      <%= f.text_field :email, :placeholder => 'Email'  %>
    </div>
    <div class="field">
      <%= f.text_field :occupation, :placeholder => 'Occupation'  %>
    </div>
    <div class="field">
      <%= f.text_field :location, :placeholder => 'Location'  %>
    </div>
    <div class="field">
      <%= f.text_field :about, :placeholder => 'About'  %>
    </div>
    <div class="field">
      <%= f.text_field :skills, :placeholder => 'Skills (separated by commas)'  %>
    </div> 
    <div class="field">
      <%= f.password_field :password, :placeholder => 'Password'  %>
    </div>
    <div class="field">
      <%= f.password_field :password, :placeholder => 'Password Confirmation'  %>
    </div>
    <div class="field">
    <center>
      <%= f.file_field :avatar %>
      </center>
    </div>

    <!--   blank fields in the database which are not require for the volunteer user -->



    <div class="actions">
   <%= f.submit class: 'btn btn-primary' %>
    </div>
 <% end %>



</div>
<%end%>





