<div id="charity_dashboard"> 
<!-- if not admin show profile page, if admin show new dashboard and wrote this here -->
    <br>
    <div class = "container">
    <br>



    <div class="col-md-12">
    <div class= "panel">
    <center>
      <h2> Charity Dashboard</h2>

          </center>
    </div>
</div>
   
   <div class="col-md-6">
    <div class= "panel">
     <div class="Profile-info">  
     <center>
       <%= image_tag current_user.avatar.url, :class => 'img-thumbnail' %>
     </center>
     <div align = "left">
      <div class="Profile-line">  
        <strong>Charity name:</strong>
        <%= current_user.charity_name %>
    </div>
    <div class="Profile-line">  
        <strong>Applicant's First name:</strong>
        <%= current_user.first_name %>
    </div>
    <div class="Profile-line">  
        <strong>Applicant's Last name:</strong>
        <%= current_user.last_name %>
    </di
    <div class="Profile-line">  
        <strong>About:</strong>
        <%= current_user.about %>
    </div>
    <div class="Profile-line">  
        <strong>Email:</strong>
        <%= current_user.email %>
    </div>
        <div class="Profile-line">  
        <strong>Location:</strong>
        <%= current_user.location %>
    </div>
    <div class="Profile-line">  
        <strong>Phone:</strong>
        <%= current_user.phone %>
    </div>
    <div class="Profile-line">  
        <strong>Tax Number:</strong>
        <%= current_user.tax_number %>
    </div>
    </div>

    </div>
      <div class="Profile-links">  
    <%= link_to 'Edit', edit_user_path(current_user), :class => 'btn btn-primary' %> 
     </div>
     </div>
     </div>


    <div class="col-sm-6 col-md-6">
    <div class= "panel">
        <div class="info">  
        <h6>TFC Volunteers</h6>
        <center>
         <%= link_to 'List of Volunteers', users_path, :class => 'btn btn-primary' %>
         </center>
      </div>
    </div>
    </div>


    <div class="col-sm-6 col-md-6">
            <div class="info">  

    <div class= "panel">
           </center> <h6>Jobs/Events</h6></center>
        <div class="info">  
             <div class="text-center new-buttons">
        <div class="row">
          <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="volunteer-icon">
             <a class="new-job" href="newjob"><i class="fa fa-plus-square fa-4x"></i></a>
            </div>
            <div class="volunteer-info">
              <h4>New Job</h4>
            </div>
          </div>

    </div>
        <div class="info">  
             <div class="text-center new-buttons">
        <div class="row">
          <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="volunteer-icon">
             <a class="new-job" href="newjob"><i class="fa fa-columns fa-4x"></i></a>
            </div>
            <div class="volunteer-info">
              <h4>Our Jobs</h4>
            </div>
          </div>

    </div>


        <div class="info">  
             <div class="text-center new-buttons">
        <div class="row">
          <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="volunteer-icon">
             <a class="new-job" href="noticeboard"><i class="fa fa-newspaper-o fa-4x"></i></a>
            </div>
            <div class="volunteer-info">
              <h4>Noticeboard</h4>
            </div>
          </div>
      </div>

    </div>
          </div>


      </div>
</div>