  <meta name="viewport" content="width=device-width, initial-scale=1">
<div id="Vol-menu">
  <div class = "container">


  <h2>Search Volunteers</h2>
          <ul class="nav nav-pills">
          <li role="presentation">
        <%= link_to "All Volunteers", vols_menu_path, :class => 'btn btn-info' %>
          </li>
          <% User.all_skills.each do |skill| %>
          <li role="presentation">
     <%= link_to skill, {action: :search, search: skill, tag: true}  %>
          </li>
          <% end %>            
          <% yield %>
      </ul>
<br>


    <div class = "search_bar"
           <%= form_tag search_users_path, method: :get, class: "navbar-form navbar-right",  role: "search" do %>
              <p>
              <%= text_field_tag :search, params[:search], class: "form-control", :input_html => {:style => "20%", :maxlength => "15"}, :placeholder => 'Search...' %>
              <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
              </p>
              <%end%>
              <br>
      <br>
      </div>






 
   <div class="row">
          <% @users.each do |user| if !(user.has_role? :charity) && !(user.has_role? :admin) %>

      <div class="col-sm-6 col-md-3">

        <div class="thumbnail">
          <h2> <%= user.first_name %> </h2>
          <%= link_to (image_tag user.avatar.url, class: 'image'), user %>

        <div class="vol-line">  
          <strong>First name:</strong>
          <%= user.first_name %>
        </div>

        <div class="vol-line">  
          <strong>Location:</strong>
          <%= user.location %>
        </div>

        <div class="vol-line">  
        <strong>Skills:</strong>
          <%= user.skills.join(', ') %>
        <center>

        </center>
        </div>

        </div>
        </div>
         <% end %>
     <% end %>
    </div>



</div>
</div>
