<div id="Vol-menu">

  <h2>Search Volunteers</h2>
    <div class = "search_bar">
           <%= form_tag search_users_path, method: :get, class: "navbar-form navbar-right", role: "search" do %>
              <p>
              <%= text_field_tag :search, params[:search], class: "form-control", :placeholder => 'Search...' %>
              <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
              </p>
              <%end%>
      </div>
      <div align="left">
        <%= link_to "All Volunteers", vols_menu_path, :class => 'btn btn-info' %>
      </div>
       <div class="vol-header">
        <div id="tag_cloud">
        <% tag_cloud User.tag_counts, %w[s m l] do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag.name), class: css_class %>
        <% end %>
        </div>
    </div>
    <br>
      <div class = "container">
   <div class="row">
    <% @users.each do |user| %>
      <div class="col-sm-6 col-md-3">

        <div class="thumbnail">
          <h2> <%= user.first_name %> </h2>
        <%= image_tag user.avatar.url %>

        <div class="vol-line">  
          <strong>First name:</strong>
          <%= user.first_name %>
        </div>

        <div class="vol-line">  
          <strong>Occupation:</strong>
          <%= user.occupation %>
        </div>

        <div class="vol-line">  
          <strong>Location:</strong>
          <%= user.location %>
        </div>

        <div class="vol-line">  
          <strong>Contact:</strong>
          <%= user.email %>
        </div>

        <div class="vol-line">  
        <strong>Skills:</strong>
            <%= raw user.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
        </div>
</div>

        </div>
              <% end %>
    </div>



</div>
</div>

</div>
