<div id="Vol-menu">
      <div class = "container">
  <h2>Search Volunteers</h2>
    <div class = "search_bar">
           <%= form_tag search_users_path, method: :get, class: "navbar-form navbar-right", role: "search" do %>
              <p>
              <%= text_field_tag :search, params[:search], class: "form-control", :placeholder => 'Search...' %>
              <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
              </p>
              <%end%>
              <br>
      <br>
      </div>
      <div align="left">
        <%= link_to "All Volunteers", vols_menu_path, :class => 'btn btn-info' %>
      </div>
       <div class="vol-header">
    </div>

    <br>
     <% User.all_skills.each do |skill| %>
     <%= link_to skill, {action: :search, search: skill, tag: true}  %>
     <%end%>
 
   <div class="row">
          <% @users.each do |user| if !(user.has_role? :charity) && !(user.has_role? :admin) %>

      <div class="col-sm-6 col-md-3">

        <div class="thumbnail">
          <h2> <%= user.first_name %> </h2>
          <%= link_to (image_tag user.avatar.url, class: 'image'), user %>

        <div class="vol-line">  
          <strong>First name:</strong>
          <%= user.first_name %>
        </div>

        <div class="vol-line">  
          <strong>Location:</strong>
          <%= user.location %>
        </div>


        <div class="vol-line">  
        <strong>Skills:</strong>
                  <%= user.skills.join(', ') %>
        <center>

        </center>
        </div>

  </div>
    </div>
         <% end %>
     <% end %>

    </div>



</div>
</div>

</div>
