<div id="Vol-menu">
<br>
<br>
    <br>
    <br>
        <br>
    <br>
    
  <center>
  <h2>Your Search Volunteers results</h2>
  </center>
      <div align="left">
        <%= link_to "All Volunteers", vols_menu_path, :class => 'btn btn-info' %>
      </div>
      <div class = "container">
   <div class="row">
    <% @users.each do |user| %>
      <div class="col-sm-6 col-md-3">

        <div class="thumbnail">
          <h2> <%= user.first_name %> </h2>
          <%= link_to (image_tag user.avatar.url, class: 'image'), user %>
          <br>
          <p> <strong> Name: </strong> <%= user.first_name %> </p>
          <p> <strong> Occupation: </strong> <%= user.occupation%> </p>
          <p> <strong> Location: </strong> <%= user.location %> </p>
          <p> <strong> Contact: </strong> <%= user.email %> </p>
          <p> <strong> Skills: </strong>  <%= user.skills.join(', ') %> </p>

        </div>
      </div>
    <% end %>
   </div>
  </div>
  </div>