
<div id="Profile"> 

<!-- if not admin show profile page, if admin show new dashboard and wrote this here -->
<div class = "container">
<div class = "row">
<div class = "col-md-2">
</div>
<div class = "col-md-9">

  <div class= "panel">
<div class="Profile-header">    
  <h2>Profile Page </h2>
</div>

  <%= image_tag @user.avatar.url, :class => 'img-thumbnail' %>
      <div class="Profile-line">  
        <strong>First name:</strong>
        <%= @user.first_name %>
    </div>

    <div class="Profile-line">  
        <strong>Last name:</strong>
        <%= @user.last_name %>
    </div>

    <div class="Profile-line">  
        <strong>Email:</strong>
        <%= @user.email %>
    </div>

    <div class="Profile-line">  
        <strong>Occupation:</strong>
        <%= @user.occupation %>
    </div>

    <div class="Profile-line">  
        <strong>Location:</strong>
        <%= @user.location %>
    </div>

    <div class="Profile-line">  
        <strong>About:</strong>
        <%= @user.about %>
    </div>
    <div class="Profile-line">  
        <strong>Skills:</strong>
          <%= @user.skills.join(', ') %>
    </div>

  <div class="Profile-links">  
 <% if current_user %>

   <%if (current_user.id == @user.id) || (current_user.has_role? :admin) %>
    <%= link_to 'Edit', edit_user_path(@user), :class => 'btn btn-primary' %> 
    <%= link_to 'Back', vols_menu_path,  :class => 'btn btn-info' %>
  <%end%>

  <%else%>
    <%= link_to 'Back', vols_menu_path,  :class => 'btn btn-info' %>
  <%end%>

</div>
</div>
</div>
  </div>
  </div>




