<!DOCTYPE html>
<html>
<head>
  <title>TFC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_header">

<nav class= "nav navbar-fixed-top">
   <div class="main-nav">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" button style= "color: #B892FF" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#home">
            <%= link_to (image_tag "logo.png", class: 'image'), root_path %>
            <br>
            <br>
          </a>                    
        </div>
        <div class="collapse navbar-collapse">

          <ul class="nav navbar-nav navbar-left">    
           <% if current_user.blank? %>            
            <li class="scroll active">
              <%= link_to "Charities", charities_menu_path %>
            </li>
           <li class="scroll">
              <%= link_to "Volunteers", volunteers_path %>
           </li>
          <%end%>
             <% if current_user %>
               <li class="scroll">
                <h5> Welcome <%= current_user.first_name %> </h5>
              </li>
                 <%end%>
        
          </ul>

          <ul class="nav navbar-nav navbar-right">                 
            <li class="scroll active">
              <%= link_to "Home", root_path %>
            </li>
           <li class="scroll">
              <%= link_to "About Us", root_path %>
           </li>
           <li class="scroll">
              <%= link_to "Volunteers", vols_menu_path %>
           </li>
           <li class="scroll">
              <%= link_to "Noticeboard", noticeboard_path %>
           </li>

             <li class="scroll">
             <% if current_user %>
                <% if current_user.has_role? :admin %>
                  <%= link_to "Dashboard", '/admin' %>
               <% else %>
                  <%= link_to "My Profile", current_user %>
                <%end%>
              </li>

              <li class="scroll">
              <%= link_to "Log Out", logout_path %>
              </li>
              <% else %>
<!--               <%= link_to "Sign Up", signup_path %> 
              </li>
             <li class="scroll">
              <%= link_to "Log In", login_path %>
              </li> -->
          <% end %>

            <li><a class="envelope" href="mailto:tfctimeforcharity@gmail.com"><i class="fa fa-envelope fa-1x"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/TimeCharity"><i class="fa fa-twitter fa-1x"></i></a></li> 
            <li><a class="facebook" href="https://www.facebook.com/profile.php?id=100011469422522"><i class="fa fa-facebook fa-1x"></i></a></li>
            <li><a class="instagram" href="https://www.instagram.com/timeforcharity_tfc/"><i class="fa fa-instagram fa-1x"></i></a></li>
              </div>


              <% flash.each do |key, value| %>
              <%= content_tag(:div, class: "alert alert-#{key}") do %>
              <p><%= value %></p>
              <% end %>
              <% end %>

            </li>
          </ul>


<!--         </div> -->
      </div>
    </div><!--/#main-nav-->
    </nav>
  </header><!--/#home-->
</div>

<%= yield %>



 <!--  <footer id="footer">
    <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
 -->
<!--         <div class="footer-logo">

       </div>  -->
<!--         <div class="social-icons">
          <ul>
            <li><a class="envelope" href="#"><i class="fa fa-envelope"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li> 
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          </ul>
        </div> -->
<!--       </div> -->
 <!--      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <p>&copy; 2015 Trinity College Dublin</p>
          </div>
          <div class="col-sm-6">
            <p class="pull-right">Designed by <a href="https://ie.linkedin.com/in/ruth-lehane-53b910a6/">Ruth Lehane</a></p>
          </div>
      </div>
    </div>
  </footer> -->

</body>
</html>
